{
  "env": {
    "development": {
      "sourceMaps": true
    }
  },
  "plugins": [
    "external-helpers",
    "transform-class-properties"
  ],
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "6.10"
      }
    }],
    "stage-2"
  ]
}
