{
  "env": {
    "development": {
      "sourceMaps": true
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  },
  "plugins": [
    "transform-class-properties"
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "6.10"
      }
    }],
    "stage-2"
  ]
}
